*{
    -moz-box-sizing: border-box;
         box-sizing: border-box
}

.top {
    text-align: center;
    padding: 20px;
}

body {
    background-color: rgba(85, 76, 76, 0.062);

}

.jacobs {
    margin: 20px 0 0 0px; 
    font-size: 26px;
    color: #4d4747
}

.partTwo {
    text-align: center;
}

img {
    border-radius: 50%;
    border: 5px solid #fff;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
}

h2, h3 {
    color: #555;
}

.bgcolor {
    position: relative;
    display: inline-block;
    padding: 2px 5px;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.884);
    
}

.bgcolor::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 0%;
    width: 100%;
    height: 25px; 
    background-color: rgb(134, 183, 196); 
    z-index: -1;   
}

footer {
    text-align: center;
}
