* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: rgba(85, 76, 76, 0.062);
    margin: 0;
}

.container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin: 20px;
}

.left_column {
    background-color: rgb(236, 231, 231);
    height: 100vh;
    width: 1000px;
    min-height: 500px;
    box-shadow: 3px 3px 5px 4px gray;
    padding: 20px;
}

.right_column {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin: 0 3em; 
}

.right1 {
    flex: 1;
    background-color: white;
    box-shadow: 3px 3px 5px 4px gray;
    margin: 0 5px 20px; 
    padding: 20px;
}

.r_l_little_column {
    width: 1000px;
    height: 100vh;
    background-color: rgb(236, 231, 231);
    box-shadow: 3px 3px 5px 4px gray;
    padding: 20px;
}

.jacobs {
    font-size: 27px;
    color: #0a0a0a;
    margin: 0;
}

footer {
    text-align: center;
}

img {
    width: 100%;
}

h2, h3 {
    color: #555;
}

i {
    margin-right: 10px;
    margin-left: 10px;
}

hr {
    color: lightgray;
    margin: 0 20px;
}

.a_propos p {
    margin: 2em 0;
}

.separation {
    border: 1px solid #86C6E4;
    margin: 20px 0;
}

.skill ul {
    list-style-type: none;
    padding: 0;
}

.skill li {
    margin-bottom: 10px;
}

.barre_progression {
    height: 10px;
    background-color: #86C6E4;
}
