* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: rgba(85, 76, 76, 0.062);
    margin: 0;
}

.container {
    display: flex;
    grid-template-columns: 15% 1fr; 
    align-items: center; 
    justify-content: center; 
}

.left_column {
    background-color: rgb(236, 231, 231);
    height: 100vh;
    min-height: 500px;
    box-shadow: 3px 3px 5px 4px gray;
    margin-left: 25px;
    margin-top: 50px;
}

.right_column {
    display: flex;
    flex-direction: column;
   
}

.right1, .r_l_little_column {
    flex: 1;
    background-color: white;
    box-shadow: 3px 3px 5px 4px gray;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    justify-content: start;
}

.jacobs {
    margin: -40px 0 0 10px;
    font-size: 27px;
    color: #0a0a0a;
}

footer {
    text-align: center;
}

img {
    width: 100%;
}

h2, h3 {
    color: #555;
}

i {
    margin-right: 10px;
    margin-left: 10px;
}

hr {
    color: lightgray;
    margin: 0 20px;
}


.a_propos p {
margin : 2em;
}

.separation {
    border: 1px solid #86C6E4;
    margin-left: 20px;
    margin-right: 20px;
}

.r_l_little_column {
    width: 500px;
    height: 500px;
    
}

.barre_progression {
    height: 10px;
    background-color: #86C6E4;
    width: 0; 
    transition: width 0.5s ease; 
}